/* Here i should style the App.js*/
/* Font type Itim, Inter and ABeeZee*/
/*Itim  google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Itim&display=swap');
/* Inter google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* ABeeZee google fonts*/
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  background-color: #262626;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.header {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 90%;
  height: 38px;
  background-color: #434141; /* Adjust if you want a different background for the header */
  padding: 10px 20px;
  border: 2px solid #464646;
  border-radius: 36px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.Logo {
  font-size: 28px;
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;

}
.Logo a {
  text-decoration: none;
}

.Logo h1 {
  color: #007Aff;
  margin: 0;
}

.Logo span {
  color: #128fdc;
}

.MainRoutes {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin-left: 80px;

}

.MainRoutes ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.MainRoutes ul li {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.MainRoutes ul li a {
  color: #fff;
  text-decoration: none;
}

.MainRoutes ul li a:hover {
  color: #007Aff; 
}
.MainRoutes ul li.active {
  border-bottom: 2px solid #007Aff;
}

.Search {
  display: flex;
  gap: 15px;
  color: #fff;

}
.Search img {
  margin-top: 17px;
}
.Search a {cursor: pointer;}
.Search input {
  cursor:text;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  width: 167px;
  height: 26px;
  border-radius: 26px;
  background: none;
  border: 1px solid #fff;
  outline: none; /* Remove the default outline */

}
input[type=text]:focus {
  border: 2px solid #007Aff;
}
.Search input::placeholder {
  text-align: center;
  color: #fff;
  opacity: 1; /* Firefox */
}

.Search input::-ms-input-placeholder { /* Edge 12 -18 */
  text-align: center;
  color: #fff;
}
.containerMenu {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 50px;
  right: 35px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}
.SearchMenu {
  display: none;
  opacity: 0;
  top: 0px;
  position: absolute;
  border-radius: 26px;
  right: 75px;
  width: 500px;
  height: 400px;
  background-color: #4d4d4d;
  margin-top: 100px;
  overflow-y: auto;
  transition: opacity 0.3s ease-in-out;

}
.SearchMenu.visible {
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  transition-delay: 2.3s;
  z-index: 999999999999999;
  opacity: 1;
  display: block;
}
.ShowProjects {
  margin-left: auto;
  margin-top: 20px;
  margin-right: auto;
  width: 90%;
  border-radius: 22px;
  display: flex;
  align-items: center;
  outline: 2px solid #666;
}

.ShowProjects:last-child {
  margin-bottom: 20px;
}

/* Chat History Scrollbar */
/* For Webkit-based browsers (Chrome, Safari) */
.SearchMenu::-webkit-scrollbar {
  width: 14px; /* Width of the scrollbar */
}

.SearchMenu::-webkit-scrollbar-track {
  background: #2c2c2c; /* Background color of the scrollbar track */
  border-radius: 10px; /* Rounded corners */
}

.SearchMenu::-webkit-scrollbar-thumb {
  background-color: #424242; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners */
  border: 3px solid #2c2c2c; /* Padding around thumb */
}

/* For Firefox */
.SearchMenu {
  scrollbar-color: #5c5b5b #2c2c2c; /* Thumb color, track color */
}

.ShowProjects img {
  border-radius: 22px;
  margin-right: 20px;
  width: 100%;
  height: 80px !important;
  max-height: 150px;
  max-width: 150px;
}

.ShowProjects:hover {
  background-color: #444343;
  text-decoration: none;
  list-style: none;
}

.TextContainer {
  display: flex;
  flex-direction: column;
}

.ShowProjects h1 {
  margin-right: 10px !important;
  font-size: 23px;
  color: #fff;
  margin: 0;
}

.ShowProjects span {
  margin-top: 10px;
  color: #adadad;
}
.noProject h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  color: red;
}

@media (max-width: 767px) {
  .Search input {
    display: none;
  }
  /* Header */
  .MainRoutes {
    margin-right: 80px;
    display: none;
  }
  .Search { 
    display: none;
  } 

  .containerMenu {
    display: inline-block;
  }
  
  .container {
    flex-direction: column;
    align-items: center;
  }

  .MainRoutes ul {
    flex-direction: column;
    align-items: center;
  }

  .MainRoutes ul li {
    margin-bottom: 5px;
  }

  .Search {
    margin-top: 10px;
  }

}

/* Add this media query for screens smaller than 480px */
/* Phone */
@media (max-width: 479px) {
  .Search  {
    display: none !important;
  }
  .Search img {
    display: none;
  }
  .containerMenu {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 35px;
  }
  /* Header */
  .MainRoutes {
    display: none;
  }
  .Search { 
    display: none;
  } 

  .containerMenu {
    display: inline-block;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .MainRoutes ul {
    flex-direction: column;
    align-items: center;
  }

  .MainRoutes ul li {
    margin-bottom: 5px;
  }

  .Search {
    margin-top: 10px;
    display: none;
  }

  .header {
    right: 0;
    left: 0;
    width: 80%;
    position: absolute;
    height: 60px;
  }
  
}
