/*Itim  google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Itim&display=swap');
.title h1 {
    font-size: 45px;
    margin-bottom: 30px;
    color: #007aff;
    font-family: 'Itim', cursive;
    font-weight: 400;
    font-style: normal;
}
.BlogContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.ProjectItem {
    opacity: 0;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.visible {
    opacity: 1;
    transition-delay: 0.2s;
}
.BlogContainer .Title {
    color: #007aff;
    font-size: 45px;
    font-family: 'Itim', cursive;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 50px;
    margin-top: 50px;
}
.BlogContainer .SearchMenu {
    display: flex;
    justify-content: center;
    position: relative;
}
.SearchMenu .FilterMenuClosed  {
    z-index: 999999999999;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 120px;
    height: 40px;
    border: solid white;
    border-width:  0.5px;
}

.SearchMenu .FilterMenuClosed:hover {
    background-color: #96959557;
    cursor: pointer;
}
.FilterMenu {
    display: none;
}
.Open {
    display: flex;
}

.Closed {
    display: none;
}
.SearchMenu .FilterMenu {
    z-index: 9999999999999;
    top: 0px;
    position: absolute;
    border-radius: 26px;
    top: 50px;
    width: 330px;
    height: 400px;
    background-color: #4d4d4d;
    overflow-y: auto;
    transition: opacity 0.3s ease-in-out;
}
.SearchMenu .FilterMenu .CloseMenu button {
    position: absolute;
    right: 10px;
    border-radius: 9px;
}    
.ToggleIcon {
    font-size: 20px;
    margin-left: 10px;
}
.ToggleIcon strong {
    font-size: 24px;
    color: white;
}
.BlogContainer .ProjectsContainer {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal-width columns */
    gap: 30px; /* Gap between grid items */
    padding-bottom: 10px;
    justify-items: center; /* Center items horizontally in their grid cells */
    width: 90%;
}


.ProjectsContainer > div {
    width: 550px;
    height: 370px;
    border-radius: 12px;
    background-color: #292828; 
    border: 1px solid #666; 

}
.BlogContainer .ProjectsContainer .Header {
    border-radius: 12px;
    width: 550px;
    height: 260px;
}
.Header img {
    z-index: 9999999999999999999999999999;
    border-radius: 12px;
    width: 550px;
    height: 260px;

}
.BlogContainer .ProjectsContainer h1 {
    color: #fff;
    font-weight: 400;
    margin-left: 10px;
    text-wrap: wrap;
    font-size: 28px;
}
.BlogContainer .ProjectsContainer span {
    color: #666;
    font-weight: 400;
    margin-left: 10px;
    text-wrap: wrap;
    font-size: 18px;
}
.BlogContainer .ProjectsContainer > div :hover {
    text-decoration: none;
}
.ProjectsContainer > div:hover {
    cursor: pointer;
    box-shadow: 0 0 10px #007aff;

}

footer {
    display: flex !important;
    margin-top: 8% !important;
    padding: 20px 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex; /* Use flexbox layout for the footer */
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the start (left) */
}

.footercontent {
    width: 100%; /* Ensure the content takes full width */
    display: flex;
    align-items: flex-start; /* Align items to the start (left) */
}


footer .footercontent h1 {
    color: #007aff;
}
footer .footercontent span {
    color: #128fdc;
}

.footerlogo {
    margin-bottom: 20px; /* Space between logo and links */
}

.footerlogo h1 {
    font-size: 24px;
    color: #3164f4;
}

.footerlogo p {
    font-size: 14px;
    color: #666;
}

.footerlinks {
    transform: translateX(-5%);
    display: flex;
    justify-content: center; /* Center the columns horizontally */
    gap: 30px; /* Adjust the gap as needed */
    flex-wrap: wrap; /* Allow wrapping if needed */
    width: 100%; /* Ensure the links take full width for centering */
}

.linkscolumn {
    transform: translateY(50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.linkscolumn a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
.linkscolumn a:hover {
    color: #007aff;
    font-weight: bold;
}
@media (min-width: 767px) and (max-width: 1300px) {
    .BlogContainer .ProjectsContainer {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Three equal-width columns */
        gap: 30px; /* Gap between grid items */
        padding-bottom: 10px;
        justify-items: center; /* Center items horizontally in their grid cells */
        width: 90%;
    }
   
    .SearchMenu .FilterMenuClosed  {
        background: none;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        width: 120px;
        height: 40px;
        border: solid white;
        border-width:  0.5px;
    }
    
    .SearchMenu .FilterMenuClosed:hover {
        background-color: #96959557;
        cursor: pointer;
    }
    .FilterMenu.Open {
        display: block;
    }
    
    .FilterMenu.Closed {
        display: none;
    }
    .SearchMenu .FilterMenu {
        z-index: 9999999999999;
        top: 0px;
        position: absolute;
        border-radius: 26px;
        right: -85px;
        top: 50px;
        width: 300px;
        height: 400px;
        background-color: #4d4d4d;
        overflow-y: auto;
        transition: opacity 0.3s ease-in-out;
    }
    
    .ToggleIcon {
        font-size: 20px;
        margin-left: 10px;
    }
    .ToggleIcon strong {
        font-size: 24px;
        color: white;
    }
}
@media (max-width: 600px) {
    .title h1 {
        font-size: 45px;
        margin-top: 140px;
        margin-bottom: 20px;
        color: #007aff;
        font-family: 'Itim', cursive;
        font-weight: 400;
        font-style: normal;
    }
    .BlogContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .BlogContainer .Title {
        color: #007aff;
        font-size: 45px;
        font-family: 'Itim', cursive;
        font-weight: 400;
        font-style: normal;
        margin-bottom: 50px;
        margin-top: 50px;
    }
   
    .SearchMenu .FilterMenuClosed  {
        background: none;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        width: 220px;
        height: 40px;
        border: solid white;
        border-width:  0.5px;
    }
    
    .BlogContainer .ProjectsContainer {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* Three equal-width columns */
        gap: 40px; /* Gap between grid items */
        padding-bottom: 10px;
        justify-items: center; /* Center items horizontally in their grid cells */
        width: 90%;
    }
    
    .ProjectsContainer > div {
        width: 350px;
        height: 300px;
        border-radius: 12px;
        background-color: #292828; 
        border: 1px solid #666; 
    
    }
    .BlogContainer .ProjectsContainer .Header {
        border-radius: 12px;
        width: 350px;
        height: 190px;
    }
    .Header img {
        z-index: 9999999999999999999999999999;
        border-radius: 12px;
        width: 350px;
        height: 190px;
    
    }
    .BlogContainer .ProjectsContainer h1 {
        color: #fff;
        margin-top: 10px;
        margin-right: 10px;
        font-weight: 400;
        margin-left: 10px;
        text-wrap: wrap;
        font-size: 21px;
    }
    .BlogContainer .ProjectsContainer span {
        color: #666;
        font-weight: 400;
        margin-left: 10px;
        text-wrap: wrap;
        font-size: 18px;
    }
    .BlogContainer .ProjectsContainer > div :hover {
        text-decoration: none;
    }
    .ProjectsContainer > div:hover {
        cursor: pointer;
        box-shadow: 0 0 10px #007aff;
    
    }
    
    footer {
        margin-top: 10%;
        padding: 20px 50px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex; /* Use flexbox layout for the footer */
        flex-direction: column; /* Stack items vertically */
        align-items: flex-start; /* Align items to the start (left) */
    }

    .footercontent {
        width: 100%; /* Ensure the content takes full width */
        display: flex;
        align-items: flex-start; /* Align items to the start (left) */
    }
    footer .footercontent h1 {
        color: #007aff;
    }
    footer .footercontent span {
        color: #128fdc;
    }

    .footerlogo {
        margin-bottom: 20px; /* Space between logo and links */
    }

    .footerlogo h1 {
        font-size: 18px;
        color: #3164f4;
    }

    .footerlogo p {
        font-size: 12px;
        color: #666;
    }

    .footerlinks {
        display: flex;
        justify-content: center; /* Center the columns horizontally */
        gap: 10px; /* Adjust the gap as needed */
        flex-wrap: wrap; /* Allow wrapping if needed */
        width: 100%; /* Ensure the links take full width for centering */
    }

    .linkscolumn {
        margin-top: 10px;
        transform: translateY(50%);
        display: flex;
        flex-direction: row;
    }

    .linkscolumn a {
        text-decoration: none;
        color: #fff;
        font-size: 12px;
    }
    .ProjectItem {
        opacity: 1;
        transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    }
}