/*Itim  google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Itim&display=swap');
.Projects {
    color: white;
    display: flex;
    flex-direction: column; /* Arrange children in a column */
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.Projects.visible {
    opacity: 1;
    transition-delay: 0.2s;
}
.ProjectsPhone {
    display: none;
}
.Projects h1 {
    color: #007aff;
    font-size: 45px;
    font-family: 'Itim', cursive;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 30px;
}

table {
    width: 80%;
    border-collapse: collapse;
    background-color: #202020;
    border-radius: 10px;
}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #334155;
}

th {
    font-weight: bold;
}

tr:hover {
    background-color: #334155; /* Row hover effect */
}

.badge {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #007aff;
    border-radius: 12px;
    font-size: 0.85em;
    font-weight: bold;
}
.ReadMore a {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #666;
    color: #fff;
    border-radius: 12px;
    font-size: 0.85em;
    font-weight: bold;
}
a {
    color: #128fdc; /* Light blue color for the link */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
footer {
    margin-top: 10%;
    padding: 20px 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex; /* Use flexbox layout for the footer */
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the start (left) */
}
  

.footercontent {
    width: 100%; /* Ensure the content takes full width */
    display: flex;
    align-items: flex-start; /* Align items to the start (left) */
  }
  footer .footercontent h1 {
    color: #007AFF;
  }
  footer .footercontent span {
    color: #128fdc;
  }
  
  .footerlogo {
    margin-bottom: 20px; /* Space between logo and links */
  }
  
  .footerlogo h1 {
    font-size: 24px;
    color: #3164f4;
  }
  
  .footerlogo p {
    font-size: 14px;
    color: #666;
  }
  
  .footerlinks {
    display: flex;
    justify-content: center; /* Center the columns horizontally */
    gap: 30px; /* Adjust the gap as needed */
    flex-wrap: wrap; /* Allow wrapping if needed */
    width: 100%; /* Ensure the links take full width for centering */
  }
  
  .linkscolumn {
    transform: translateY(50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .linkscolumn a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
  }
  .linkscolumn a:hover {
    color: #007aff;
    font-weight: bold;
  }

@media (max-width: 900px) {
    .AboutContainer .ProjectContainer {
        grid-template-columns: repeat(
            2,
            1fr
        ); /* 2 columns on smaller screens */
    }
}

@media (max-width: 600px) {
    .Projects {
        display: none;
    }
    .ProjectsPhone {
        color: white;
        display: flex;
        flex-direction: column; /* Arrange children in a column */
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    }
    .ProjectsPhone.visible {
        opacity: 1;
        transition-delay: 0.2s;
    }
    .ProjectsPhone h1 {
        color: #007aff;
        font-size: 45px;
        font-family: 'Itim', cursive;
        font-weight: 400;
        font-style: normal;
        margin-top: 140px;
        margin-bottom: 30px; /* Space between Title and first AboutBox */
    }

    table {
        width: 60%;
        border-collapse: collapse;
        background-color: #202020; /* Matches the dark blue-gray background */
        border-radius: 10px;
    }

    th,
    td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #334155;
    }

    th {
        font-weight: bold;
    }

    tr:hover {
        background-color: #334155; /* Row hover effect */
    }

    .badge {
        display: inline-block;
        padding: 5px 10px;
        margin-right: 5px;
        background-color: #007aff;
        border-radius: 12px;
        font-size: 0.85em;
        font-weight: bold;
    }
    .ReadMore a {
        display: inline-block;
        padding: 5px 10px;
        margin-right: 5px;
        background-color: #666;
        color: #fff;
        border-radius: 12px;
        font-size: 0.85em;
        font-weight: bold;
    }
    a {
        color: #128fdc; /* Light blue color for the link */
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
    footer {
        margin-top: 10%;
        padding: 20px 50px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex; /* Use flexbox layout for the footer */
        flex-direction: column; /* Stack items vertically */
        align-items: flex-start; /* Align items to the start (left) */
    }

    .footercontent {
        width: 100%; /* Ensure the content takes full width */
        display: flex;
        align-items: flex-start; /* Align items to the start (left) */
    }
    footer .footercontent h1 {
        color: #007aff;
    }
    footer .footercontent span {
        color: #128fdc;
    }

    .footerlogo {
        margin-bottom: 20px; /* Space between logo and links */
    }

    .footerlogo h1 {
        font-size: 18px;
        color: #3164f4;
    }

    .footerlogo p {
        font-size: 12px;
        color: #666;
    }

    .footerlinks {
        display: flex;
        justify-content: center; /* Center the columns horizontally */
        gap: 10px; /* Adjust the gap as needed */
        flex-wrap: wrap; /* Allow wrapping if needed */
        width: 100%; /* Ensure the links take full width for centering */
    }

    .linkscolumn {
        margin-top: 10px;
        transform: translateY(50%);
        display: flex;
        flex-direction: row;
    }

    .linkscolumn a {
        text-decoration: none;
        color: #fff;
        font-size: 12px;
    }
}
@keyframes enablePointerEvents {
    0% {
        pointer-events: none;
    }
    100% {
        pointer-events: auto;
    }
}
